body {
  font-family: var(--sl-font-sans);
}

.card-grid {
  margin-top: var(--sl-spacing-large);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  & sl-card {
    position: relative;
    box-shadow: var(--sl-shadow-large);

    & #counter {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      flex-grow: 1;
    }

    & sl-divider {
      position: absolute;
      left: 0;
      right: 0;
    }

    & section {
      margin-top: var(--sl-spacing-3x-large);
    }

    & [slot='footer'] {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
